extends layout

block content
	h1= title
	p Welcome to #{title}	below is the fingerprint data for your browser	
	button#btnFingerprint Get Fingerprint
	p For a statistically better representation of your fingerprint go to
	a(href='https://panopticlick.eff.org/') Panopticlick
	div#visits
	br
	div#example
	br
	body