extends layout

block content
	h1= title
	p Welcome to #{title}	below is the fingerprint data for your browser	
	button#btnFingerprint Get Fingerprint
	//- p <b>You have visited this site #{visits} times. </b>
	br
	//- div#example
	br
	body